html
  head
    title= title
    link(rel='stylesheet',
         href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css',
         integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u',
         crossorigin='anonymous')
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js",
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa",
            crossorigin="anonymous")
    script.
      setTimeout(function () {
        location.reload();
      }, 15 * 1000);
  body
    nav.navbar.navbar-inverse.navbar-fixed-top
      h1(style="color: white; margin-left: 50px;")= 'Nursaid. Your Health Care AI'
    div.container(style="margin-top:50px;")
      div.row
        div.col-sm-6
          div.navbar-header
            h1= name+"'s" + ' allergies'
            br
            each item in allergies
              h3= item
        div.col-sm-6
          button.btn.btn-primary(onclick='alert("We will send this to the nurse")', style="margin-top: 100px;")= 'Alert cafeteria'
